{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="main container">
    <div class="row">
        {% if form.errors %}
            <div class="alert alert-danger col-12" role="alert">
            {% for field in form %}

                {{ field.message }}

                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="mt-3 col-lg-6 offset-lg-3 col-12 px-5">
            <div class="card">
                <div class="card-header">
                    <div class="mt-2 mb-2">
                        <h4>修改密码</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form class="password_change form-group mb-0" method="POST" action="{% url 'account_change_password' %}">

                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" name="oldpassword" class="form-control" placeholder="旧密码"
                                       autocomplete="current-password" required="" id="id_oldpassword">
                            </div>
                            <div class="col-sm-12 mt-3">
                                <input type="password" name="password1" class="form-control" placeholder="新密码"
                                       autocomplete="new-password" required="" id="id_password1">
                            </div>
                            <div class="col-sm-12 mt-3">
                                <input type="password" name="password2" class="form-control" placeholder="新密码（重复）"
                                       autocomplete="new-password" required="" id="id_password2">
                            </div>
                        </div>
                        <button class="primaryAction btn btn-primary btn-block" type="submit">修改密码</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

