{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

    {% csrf_token %}

    <div class="collapse show" id="refresh_progress">
        <div class="progress">
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="69"
                 class="progress-bar progress-bar-striped progress-bar-animated"
                 style="width: 100%;">
            </div>
        </div>
    </div>


    <div class="main container mt-2 ">
        <div class="row">
            <div class="col-lg-8 col-md-12 mt-2">
                <div class="card p-3"><!----><!---->
                    <div>
                        <div class="align-self-bottom" style="float: left;">
                            <h5><a target="_self" href="/courses" class="text-decoration-none text-reset">
                                &lt;&lt; {{ course.name }}
                            </a>
                            <small class="text-muted">课程编号：{{ course.course_id }}</small>
                            </h5>
                        </div>
{#                        <div class="d-none d-sm-block" style="float: right;">#}
{#                            <button type="button" class="btn btn-secondary">历年考题</button>#}
{#                        </div>#}
                    </div>
                    <hr class="my-2">
                    <p class="card-text">
                        <span class="mr-3"> 挂科率： <span id="fail" class="text-danger">0.00%</span></span>
                        <span class="mr-3"> 优秀率： <span id="great" class="text-success">34.00%</span></span>
                        {% if score %}
                        <span>你的分数：{{ score }}</span>
                        {% else %}
                        <span>你还没学过这门课</span>
                        {% endif %}
                        <br>
                        <span class="mr-3">学分：{{ course.credit }}</span>
                        <span class="mr-3">总学时：{{ course.total_time }}</span><br class="d-block d-sm-none">
                        <span class="mr-3">课程属性：{{ course.attributes }}</span>
                        <span>考试类型：{{ course.assessment_method }}</span>
                        <br>
                        <span>课程性质：{{ course.kind }}</span>
                    </p><!----><!---->
                </div>
                <div class="card mt-2 p-3">
                    <div>
                        <h5> 成绩分布图 <small class="text-muted"> 参与统计人数：{{ count }}</small><!---->
                        <button id="switch" type="button" class="float-right btn btn-secondary">切换类型</button>
                        </h5>
                    </div>
                    <hr class="my-2">
                    <div id="graph0" class="card-text" style="height:400px;"></div>
                    <div id="graph1" class="card-text" style="height:400px;"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-3 mt-2">
                <div class="card p-3">
                    <h5>
                        课程评论
                    </h5>

                    <hr class="my-2">

                    {% for comment in comments %}
                    <div class="row mx-0 mb-3">
                        <div class="mx-0 col-12 px-0">
                            <span style="font-size: 0.95rem;" class="mr-1">
                                {{ comment.username }}
                            </span>
                            <small class="text-muted">
                                {{ comment.created.year }}-{{ comment.created.month }}-{{ comment.created.day }}
                            </small>
                        </div>
                        <div class="col-12 mx-0 px-0">
                            <div class="card bg-light  d-inline-block" style="max-width: 100%;">
                                <div class="card-body px-2 py-1 d-inline-block" style="max-width: 100%;">
                                    {{ comment.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="row mx-0 mb-3 mt-1">
                        暂无评论
                    </div>
                    {% endfor %}

                    <hr class="my-2">
                    <div class="col-12 mx-0 mt-1 px-0">
                        {% if login %}
                        <span class="mr-3 font-weight-bold">
                                {{ username }}
                        </span>
                        <div id="comment_form">

                            <div role="group" class="input-group"><!---->
                                <input type="text" name="content" placeholder="发送评论" class="form-control">
                                <div class="input-group-append">
                                    <button id="send_comment" class="btn btn-info"><span>发送</span></button>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            登陆后评论
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="normalModal" tabindex="-1" aria-labelledby="normalModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_button">确认</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function draw(tag, data, ele_id) {
            console.log(ele_id);
            var chartDom = document.getElementById(ele_id);
            console.log(chartDom);
            var myChart = echarts.init(chartDom);
            myChart.resize();
            //window.addEventListener('resize', function () {
            //    myChart.resize();
            //});
            var option;
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: tag,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '人数',
                        type: 'bar',
                        barWidth: '60%',
                        data: data
                    }
                ]
            };
            option && myChart.setOption(option);
        }

        window.onload = function () {
            $('#refresh_progress').collapse('hide');

            var course_id = {{ course_id }};
            $.get("/api/query/course_scores", {"course_id": course_id}, function (res) {
                console.log(res.data);
                var data0 = new Array(101);
                var data1 = new Array(5);
                var dict = {};
                var tag0 = [];
                for (var i = 0; i <= 100; ++i) {
                    tag0.push(i);
                    data0[i] = 0;
                }
                for (var i = 0; i < 5; ++i)
                    data1[i] = 0;
                var tag1 = ["不及格", "及格", "中等", "良好", "优秀"]
                for (var i in tag1) {
                    dict[tag1[i]] = 0;
                }
                for (var i in res.data) {
                    ele = res.data[i];
                    if (isNaN(parseInt(ele))) dict[ele]++;
                    else data0[parseInt(ele)]++;
                }

                for (var i in tag1){
                    var name = tag1[i];
                    console.log(name, dict[name]);
                    data1[i] = dict[name];
                }

                console.log(data0);
                console.log(data1);

                draw(tag0, data0, "graph0");
                draw(tag1, data1, "graph1");

                var sum = 0;

                for(var i in data0)
                    sum += data0[i];
                console.log(sum);
                if(sum > 0) {
                    $('#graph1')[0].hidden = true;
                }
                else{
                    $('#graph0')[0].hidden = true;
                }

                var total = {{ count }};
                var fail = 0;
                var great = 0;

                great += dict["优秀"];
                for(var i=90; i<=100; ++i){
                    great += data0[i];
                }

                fail += dict["不及格"];
                for(var i=0; i<60; ++i){
                    fail += data0[i];
                }

                console.log(great, fail, total);

                $('#fail' )[0].textContent = (100.0*fail /total).toFixed(2) + "%";
                $('#great')[0].textContent = (100.0*great/total).toFixed(2) + "%";

            });

            $('#switch').click(function () {
                var graph0 = $('#graph0')[0];
                graph0.hidden = !graph0.hidden;
                var graph1 = $('#graph1')[0];
                graph1.hidden = !graph1.hidden;
            })

            $('#send_comment').click(function(){
                //alert("test");
                $.post(
                    "{% url 'course_comment' %}",
                    //type:"POST",
                    //headers: {'X-CSRFToken': '{{ csrf_token  }}'},
                    {
                        csrfmiddlewaretoken: '{{ csrf_token  }}',
                        content: document.querySelector("#comment_form > div > input[name=content]").value,
                        course_id: '{{ course_id }}',
                    },
                    //ontentType:"application/json; charset=utf-8",
                    //dataType:"json",
                    function(res){
                        console.log(res);
                        console.log(res.status);
                        $('#modalContent')[0].innerText = res.message;
                        $('#normalModal').modal('show');
                        $('#modal_button').click(function(){
                            location.reload();
                        })
                    }
                ).error(function(res) {
                    //alert("error");
                    console.log(res);
                    $('#modalContent')[0].innerText = res.responseJSON.message;
                    $('#normalModal').modal('show');
                })
            })
        }
    </script>
{% endblock %}
