{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="collapse show" id="refresh_progress">
        <div class="progress">
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="69"
                 class="progress-bar progress-bar-striped progress-bar-animated"
                 style="width: 100%;">
            </div>
        </div>
    </div>

    <div class="main container">
        <div class="row">
            <div class="mb-3 col-md-12 col-lg-8">

                <div class="card mt-3 p-3">
                        <span class="font-weight-bold form-inline">
                        <h4>最新最热课程评论</h4>
                        </span>
                        <hr class="my-2">
                        {% for comment in comments %}
                        <a class="card bg-light px-2 py-2 mt-3 mx-0 mb-2" href="/course/{{ comment.course_id }}" style="text-decoration:none;">
                            <span class="text-dark px-1">
                                {{ comment.course_name }} {{ comment.username }} {{ comment.created }}
                            </span>
                            <h5 class="card-body text-dark pt-2 pb-1 px-1">
                                {{ comment.content }}
                            </h5>
                        </a>
                        {% endfor %}
                </div>

                {% for post in posts %}
                    <div class="card p-3 mt-3">
                        <span class="font-weight-bold form-inline">
                            <h4>{{ post.title }}</h4>
                            <small class="mx-2 text-muted">{{ post.created.year }}年{{ post.created.month }}月{{ post.created.day }}日</small>
                        </span>
                        <hr class="my-2">
                        <p>{{ post.body | to_markdown | safe}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3 col-md-12 col-lg-4">
                <div class="card mt-3 p-3">
                        <span class="font-weight-bold form-inline">
                        <h4>最近出分课程</h4>
                        </span>
                        <hr class="my-2">
                        {% for record in recent %}
                        <a class="card bg-light px-2 py-2 mt-2 mx-0" href="/course/{{ record.course_id }}"
                           style="text-decoration:none;border-radius:12px;">
                            <span class="text-dark px-1">
                                {{ record.course_name }} {{ record.time }}
                            </span>
                        </a>
                        {% empty %}
                            暂无出分课程
                        {% endfor %}
                </div>

                <div class="card p-3 mt-3">
                    <h6><strong>Contact Qinglianjie</strong></h6>
                    <hr class="my-2">
                    <p><a href="mailto:bakedviolin@foxmail.com">bakedviolin@foxmail.com</a></p>
                </div>

                <div class="card p-3 mt-3">
                    <h6><strong>特别赞助</strong></h6>
                    <hr class="my-2">
                    <p>
                        反正没有海某科技
                    </p>

                </div>
            </div>

        </div>
    </div>
    <script>
        window.onload = function () {
            $('#refresh_progress').collapse('hide');


        }
    </script>
{% endblock %}
