{% extends 'base.html' %}
{% block content %}
<div class="main container mt-3 ">
    <div class="row">
        {% if error %}
            <div class="alert alert-danger col-12" role="alert">
                已关闭每日自动报备
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success col-12" role="alert">
                已开启每日自动报备
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="mt-3 col-lg-6 offset-lg-3 col-12 px-5">
            <div class="card">
                <div class="card-header">
                    <div class="mt-2 mb-2">
                        <h4>自动报备</h4>
                    </div>
                </div>
                <div class="card-body">
                {% if report %}
                    <p>您已开启每日自动进出校报备，是否关闭？</p>
                    <form class="login form-group mb-0" method="POST" action="{% url 'report' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="off">
                        <button class="primaryAction btn btn-danger btn-block" type="submit">关闭</button>
                    </form>
                {% else %}
                    <p>开启后将在每天 0:05 自动进出校报备，时间为当日 6:00 ~ 22:00，是否开启？</p>
                    <form class="login form-group mb-0" method="POST" action="{% url 'report' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="on">
                        <button class="primaryAction btn btn-success btn-block" type="submit">开启</button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
