{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

    <div class="collapse show" id="refresh_progress">
        <div class="progress">
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="69"
                 class="progress-bar progress-bar-striped progress-bar-animated"
                 style="width: 100%;">
            </div>
        </div>
    </div>

    {% if fail %}
        <div class="mx-4 mt-3 mb-0 alert alert-danger" role="alert">
            获取成绩失败，请<a href="{% url 'bind' %}">绑定学号</a>或尝试刷新成绩！
        </div>
    {% endif %}



    <div class="main container collapse show" id="main">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="card px-2 pt-2 mt-3 pb-3">
                    <div class="card-body pb-0">
                        <strong>{{ username }}</strong> 的成绩单
                        {% if not fail %}
                            <br>
                            更新于: {{ date }}
                        {% endif %}
                        <hr>
                        <button type="button" class="btn btn-primary btn-sm" id="refresh_scores">获取最新成绩</button>
                        <button type="button" class="btn btn-primary btn-sm" id="calc_avg">计算加权成绩</button>

                    </div>
                </div>

                <div class="collapse" id="calc_average">
                <div class="card px-2 pt-2 mt-3 pb-3 hide">
                    <div class="card-body pb-0">
                        选中的 <strong id="total_selected">0</strong> 门科目，学分总 <strong id="total_credit">0</strong>，加权分 <strong id="avg">0</strong>
                        <hr>
                    <button type="button" class="btn btn-success btn-sm" id="do_calc_avg" onclick="do_calc_avg()">计算</button>
                    <button type="button" class="btn btn-danger btn-sm" id="close_calc_average">关闭</button>
                    </div>
                </div>
                </div>

                {% if not fail %}
                    {% for term,records in scores %}
                        <div class="card mt-2 px-0 pb-0 pt-0">
                            <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="collapse"
                                    data-target="#{{ term | format_term }}">
                                {{ term }}
                            </button>
                            <div class="collapse score_table" id="{{ term | format_term }}">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="show_scores">#</th>
                                        <th scope="col" class="show_calc_avg">
                                            <div class="custom-control custom-checkbox">
                                                <input
                                                        type="checkbox"
                                                        autocomplete="off"
                                                        class="custom-control-input all"
                                                        id="all_{{ term | format_term }}"
                                                        value="off"
                                                        term="{{ term | format_term }}"
                                                >
                                                <label class="custom-control-label"
                                                       for="all_{{ term | format_term }}"
                                                       term="{{ term | format_term }}"
                                                >

                                                    全选
                                                </label>
                                            </div>
                                        </th>
                                        <th scope="col">课程名称</th>
                                        <th scope="col">成绩</th>
                                        <th scope="col">学分</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in records %}
                                        {% ifnotequal i.2 "---"  %}
                                        <tr>
                                            <td scope="row" class="show_scores">{{ i.0 }}</td>
                                            <td scope="col" class="show_calc_avg">
                                                <div class="custom-control custom-checkbox">
                                                    <input
                                                            type="checkbox"
                                                            autocomplete="off"
                                                            class="custom-control-input avg_input input_{{ term | format_term }}"
                                                            id="{{ term | format_term }}_{{ i.4 }}"
                                                            score="{{ i.2 }}"
                                                            credit="{{ i.3 }}"
                                                            value="off"
                                                    >
                                                    <label class="custom-control-label" for="{{ term | format_term }}_{{ i.4 }}">
                                                    </label>
                                                </div>
                                            </td>
                                            <td><a class="text-dark" href="/course/{{ i.4 }}">{{ i.1 }}</a></td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                        </tr>
                                        {% endifnotequal %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-12 col-lg-5">
                <div class="card mt-3">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="collapse"
                            data-target="#" id="count_credit">
                        点击统计学分
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="normalModal" tabindex="-1" aria-labelledby="normalModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_button">确认</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function do_calc_avg() {
            var inputs = $('.avg_input');
            var total_credit = 0.0;
            var avg_score = 0.0;
            var total_selected = 0;
            for(var i=0; i<inputs.length; ++i) {
                var ele = inputs[i];
                if(ele.checked) {
                    //console.log(ele);
                    total_credit += parseFloat(ele.getAttribute('credit'));
                }
            }
            //console.log(total_credit);
            for(var i=0; i<inputs.length; ++i) {
                var ele = inputs[i];
                var score_dict = {
                    '优秀'  : 95,
                    '良好'  : 85,
                    '中等'  : 75,
                    '及格'  : 65,
                    '不及格' : 30,
                }
                var score = score_dict[ele.getAttribute('score')];
                if(score==undefined){
                    score = parseFloat(ele.getAttribute('score'));
                }
                if(ele.checked) {
                    var credit = parseFloat(ele.getAttribute('credit'));
                    avg_score += score*credit/total_credit;
                    total_selected++;
                }
                {#console.log(ele,score)#}
            }

            $('#avg')[0].innerText = avg_score.toFixed(2);
            $('#total_credit')[0].innerText = total_credit;
            $('#total_selected')[0].innerText = total_selected;

            console.log(avg_score);

        }
        window.onload = function () {

            {#$('#main').collapse('show')#}
             $('#refresh_progress').collapse('hide');

             //刷新成绩
            $('#refresh_scores')[0].onclick = function () {
                $('#refresh_progress').collapse('show');
                $.get("/api/refresh/scores", function (data) {
                    console.log(data);
                    if (data['status'] == 'SUCCESS') {
                        {#$('#modalContent')[0].innerText = "成功发起请求！";#}
                        {#$('#normalModal').modal('show');#}
                        window.setInterval(function () {
                            $.get("/api/query/scores", function (data) {
                                if (data['status'] != 'FAILURE') {
                                    $('#modalContent')[0].innerText = "成绩获取成功，正在刷新页面！";
                                    $('#normalModal').modal('show');
                                    setTimeout(function () {
                                        location.reload();
                                    },3000);
                                    console.log(data);
                                }
                            });
                        }, 5000);
                    } else {
                        $('#modalContent')[0].innerText = "请求刷新成绩失败，可能是请求过于频繁或服务器出现问题！";
                        $('#normalModal').modal('show');
                        $('#refresh_progress').collapse('hide');
                    }
                });
            };

            //TODO 统计学分
            $('#count_credit')[0].onclick = function () {
                $('#modalContent')[0].innerText = "还没写";
                $('#normalModal').modal('show');
            };

            //done
            $('#calc_avg')[0].onclick = function () {
                // $('#modalContent')[0].innerText = "还没写";
                // $('#normalModal').modal('show');
                $('#calc_average').collapse('show');
                $('.show_scores').hide();
                $('.show_calc_avg').show();
            };

            $('.all').change(function () {
                var term = this.getAttribute('term');
                var value = this.checked;
                var inputs = $('.input_'+term);
                for(var i=0; i<inputs.length; ++i)
                    inputs[i].checked = value;
                do_calc_avg();
            });

            $('.avg_input').change(function() {
                do_calc_avg();
            });

            $('#close_calc_average').click(function(){
                $('#calc_average').collapse('hide');
                $('.show_scores').show();
                $('.show_calc_avg').hide();
            });

            {% if not fail %}
                $('.score_table :first').collapse('show');
            {% endif %}

            $('.show_calc_avg').hide();
        }
    </script>
{% endblock %}

